* {
    color: #303942;
    font-family: 'Nanum Myeongjo', serif;
}

.info {
    font-size: 2rem;
}

.btn {
    background-color: #303942;
    color: white;
}

.btn:focus, .btn:active {
    outline: none;
    box-shadow: none;
}

