 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo+Script&display=swap" rel="stylesheet">
<div class="container d-flex">
    <div class="">
        <div class="text-center">
            <app-body-search></app-body-search>
        </div>
        <div class="text-center">
            <app-body-nav></app-body-nav>
            <div>
                <router-outlet class="user"></router-outlet>
        </div>
        </div>
    </div>
  </div>
