<div class="card" style="width: 18rem;" #myComponent>
    <a href="https://github.com/{{user.userName}}">
        <img class="card-img-top" appHover src="{{user.avatar}}" alt="User Avatar">
    </a>
    <br>
    <div>
        <div>
            <div class="card-title h3">{{user.fullName}} <span class="d-flex" style="font-size: small;">{{user.location}}</span></div>
        </div>
        <p class="h6">About</p>
        <div>
            <!-- <span class="aboutTitle">Username:</span> {{user.userName}} <br> -->
            <span class="h6">Bio:</span> {{user.bio}}
        </div>
        <div>
            <span><span class="h6">Public Repositories:</span> {{user.repos}}</span>
            <br>
            <span><span class="h6">Joined Github:</span> {{user.joined | date}}</span>
        </div>
    </div>
</div>
