.aboutTitle {
    font-family: 'Acme', sans-serif;
    font-size: 25px;
    margin-right: 5px;
}

.content{
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: block; */
  color: white;
  box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.1);
}

.x1{
  background-color:#9CB1FF;
  left: 0;
  top: 0;
  position: relative;
  line-height:150px;
}
